/* Estilo del body general */
.titulognral{color: white; font-size: large; text-align: center; padding: 5px;}

/* Estilo del titulo en index */
.titulo1home{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;}
.titulo2home{padding: 20px;}
